<div class="row">
  <div class="col-sm-12">
    <h3>User Registration</h3>
  </div>
</div>

<div class="row">
  <% if @user.respond_to? "errors" %>
    <div class="col-sm-12">
      <p class="alert bg-danger">Sorry, please check the form for errors and submit again.</p>
    </div>
  <% end%>
</div>

<div class="row">
  <div class="col-sm-12">
    <form method="POST" action="/users">
      <div class="form-group <%= has_error? @user, :username %>">
        <label class="control-label">Username</label>
        <input class="form-control" type="text" name="user[username]" value="<%= has_content?(@user, :username) %>">
        <% if has_error? @user, :username %>
          <span class="help-block"><%= @user.errors[:username].first.capitalize %></span>
        <% end %>
      </div>
      <div class="form-group <%= has_error? @user, :email %>">
        <label class="control-label">Email</label>
        <input class="form-control" type="text" name="user[email]" value="<%= has_content?(@user, :email) %>">
        <% if has_error? @user, :email %>
          <span class="help-block"><%= @user.errors[:email].first.capitalize %></span>
        <% end %>

      </div>
      
      <div class="form-group <%= has_error? @user, :timezone %>">
        <label class="control-label">Timezone</label>
        <select class="form-control" name="user[timezone]">
          <% User.timezones.each do |tz| %>
            <option><%= tz.upcase %></option>
          <% end %>
        </select>
      </div>

      <div class="form-group <%= has_error? @user, :password %>">
        <label class="control-label">Password</label>
        <input class="form-control" type="password" name="user[password]">
        <% if has_error? @user, :password %>
          <span class="help-block"><%= @user.errors[:password].first.capitalize %></span>
        <% end %>

      </div>
      <div class="form-group <%= has_error? @user, :password_confirmation %>">
        <label class="control-label">Confirm Password</label>
        <input class="form-control" type="password" name="user[password_confirmation]">
        <% if has_error? @user, :password_confirmation %>
          <span class="help-block"><%= @user.errors[:password_confirmation].first.capitalize %></span>
        <% end %>
      </div>
      <div class="form-group">
        <input class="form-control btn btn-primary" type="submit" value="Register">
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p class="text-center">Already a member? <a href="/users/login">Log in</a></p>
  </div>
</div>
