<!-- /babies/:id/events/ -->
<div class="row">
  <div class="col-sm-12 text-center">
    <h1><%= @current_date || "Today" %></h1>
  </div>
</div>

<% if @events %>
  <div class="row">
    <div class="col-sm-4 text-center">
        <h4>Time Slept</h4>
        <%= erb :'events/_minutes_slept', locals: { minutes_slept: @events.minutes_slept } %>
    </div>
    <div class="col-sm-4 text-center">
      <h4>Poops<h4>
      <h1><%= @events.poops %></h1>
    </div>
    <div class="col-sm-4 text-center">
      <%= erb :'events/_abnormals', locals: { abnormals: @events.abnormals } %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-sm-3">Time</th>
            <th class="col-sm-3">Event</th>
            <th class="col-sm-2">Description</th>
            <th class="col-sm-4">Options</th>
          </tr>
        </thead>
        <% @events.each do |event| %>
          <%= erb :'events/_event', locals: { event: event } %>
        <% end %> 
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <p>No results.</p>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-12 text-center">
    <%= erb :_prev_button if !!params[:days_ago] && params[:days_ago] > "0" %>
    <%= erb :_next_button if @more_pages %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <br>
    <a href="/babies/<%= @baby.id %>/events/new"><button class="btn btn-primary form-control big-button">Add new event</button</a>
  </div>
</div>
