<div class="row">
  <div class="col-sm-12">
    <h3>Record an event for <%= @baby.name %></h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h5 class="text-center">When did it happen?</h5>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <form method="POST" action="/babies/<%= @baby.id %>/events/new/confirmation" class="event-form">
      <input type="hidden" name="event[event_type_id]" value="<%= @event_type.id %>">
      <input type="hidden" name="event[event_description_id]" value="<%= @event_description.id if !!@event_description %>">
      <div class="form-group">
        <input class="form-control" type="time" name="event[time]" value="<%= Time.now.strftime("%H:%M") %>">
        <p class="help-block">The current time is the default.</p>
      </div>
      <div class="form-group">
        <input class="form-control" type="date" name="event[date]" value="<%= Time.now.strftime("%Y-%m-%d") %>">
        <p class="help-block">Today's date is the default.</p>
      </div>
      <div class="form-group">
        <input class="btn btn-primary form-control" type="submit" value="Next">
      </div>
    </form>
  </div/>
</div>
